# Node.js
Node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

#dotenv
.env

#docker
docker-compose.override.yml
*.pid
*.sock

#vite
dist/

#macOs
.DS_Store

#windows
Thumbs.db

#linux
*~

#IDEs/Editors
.idea/
.vscode/
*.swp

#coveage
coverage/
.nyc_output/

#other
*.cache
